<div class="table">
  <div class="thead-dark">
    <div class="tr">
      <div class="th" scope="col">Title</div>
      <div class="th" scope="col">Status</div>
      <div class="th" scope="col">Priority</div>
      <div class="th" scope="col">Time estimate</div>
      <div class="th" scope="col">Due date</div>
      <div class="th" scope="col">edit</div>
      <div class="th" scope="col">delete</div>
    </div>
  </div>
  <div class="tbody">
    <%= turbo_frame_tag Task.new%>
    <%= turbo_frame_tag "tasks" do %>
      <%= render @tasks%>
    <%end%>
  </div>
</div>