
 <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Time estimate</th>
        <th scope="col">Due date</th>
      </tr>
    </thead>
    <tbody id="tasks_body">
      <% @tasks.each do |task|%>
         <%= render partial: 'task_row', locals: { task: task }%>
      <%end%>
    </tbody>
  </table>